<footer class="h-auto my-16 flex items-center justify-around flex-wrap"  >
  <div class="">
    <div class="flex items-center gap-8 opacity-65 leading-10">
      <a href="">blog</a>
      <a href="">FAQs</a>
      <a href="">Promotion</a>
      <a routerLink="contact">contact us</a>
    </div>
    <h1 class="text-xs  leading-10 opacity-65">Nanki<span class="text-red-500">Shopping</span> &copy; 2024 ALL Rights Reserverd</h1>
    <p class="opacity-65">Realiser par <span class="text-red-500">NgKoaDev</span></p>
  </div>
  <div class="leading-10">
    <div class="flex items-center gap-6 opacity-65">
      <i class="fa-brands fa-facebook-f"></i>
      <i class="fa-brands fa-twitter"></i>
      <i class="fa-brands fa-instagram"></i> 
      <a href="https://github.com/wilfriedjordan/ProjectBooki.git"><i class="fa-brands fa-github"></i></a>
      <i class="fa-brands fa-linkedin"></i>
    </div>
    <a href="mailto:tankwewilfried5@gmail.com" class="block  bg-red-500 text-white text-center mt-7 rounded px-4">tankwewilfried5&#64;gmail.com</a>
  </div>
</footer>