.font-jost{
  font-family: 'jost','Montserrat',sans-serif;
}


.status{
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
}
.bg_gren{
  background-color: rgb(10, 170, 10);
}
