<div class=" w-full">
  <div class="relative w-full h-screen">
    <div style="background-image: url('../../../../assets/Image/blog1.jpg');" class="w-full h-screen bg-top bg-cover"></div>
    <div class="absolute bg-slate-400 w-full h-full top-0 z-20  opacity-55"></div>
    <div class="absolute w-full h-full top-0 z-40 text-center  ">
      <h1 class="absolute  top-1/2 left-1/2 transform -translate-x-1/2 text-8xl text-blue-800  opacity-100"><span>NankiShopping</span> Blog</h1>
    </div>
  </div>
  <div class="w-full h-auto mt-16 px-14">
    <div class="h-auto grid grid-cols-4 gap-2">
      <div class="card card1">
        <div class="img">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="conteneur">
          <h2>Trouvez les meilleurs produits sur NankiShopping</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Nesciunt hic repellendus ipsum esse nemo aliquid perferendis,
            facere inventore ipsam non?
          </p>
        </div>
      </div>
      <div class="card card2">
        <div class="img">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="conteneur">
          <h2>Trouvez les meilleurs produits sur NankiShopping</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Nesciunt hic repellendus ipsum esse nemo aliquid perferendis,
            facere inventore ipsam non?
          </p>
        </div>
      </div>
      <div class="card card3">
        <div class="img">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="conteneur">
          <h2>Trouvez les meilleurs produits sur NankiShopping</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Nesciunt hic repellendus ipsum esse nemo aliquid perferendis,
            facere inventore ipsam non?
          </p>
        </div>
      </div>
      <div class="card card4">
        <div class="img">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="conteneur">
          <h2 class="text-5xl">Trouvez les meilleurs produits sur NankiShopping</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Nesciunt hic repellendus ipsum esse nemo aliquid perferendis,
            facere inventore ipsam non?
          </p>
        </div>
      </div>
      <div class="card card5">
        <div class="img">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="conteneur">
          <h2>Trouvez les meilleurs produits sur NankiShopping</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Nesciunt hic repellendus ipsum esse nemo aliquid perferendis,
            facere inventore ipsam non?
          </p>
        </div>
      </div>
      <div class="card card6">
        <div class="img">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="conteneur">
          <h2>Trouvez les meilleurs produits sur NankiShopping</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Nesciunt hic repellendus ipsum esse nemo aliquid perferendis,
            facere inventore ipsam non?
          </p>
        </div>
      </div>
      <div class="card card7">
        <div class="img">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="conteneur">
          <h2>Trouvez les meilleurs produits sur NankiShopping</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Nesciunt hic repellendus ipsum esse nemo aliquid perferendis,
            facere inventore ipsam non?
          </p>
        </div>
      </div>
      <div class="card card8">
        <div class="img">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="conteneur">
          <h2>Trouvez les meilleurs produits sur NankiShopping</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Nesciunt hic repellendus ipsum esse nemo aliquid perferendis,
            facere inventore ipsam non?
          </p>
        </div>
      </div>
      <div class="card card9">
        <div class="img">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="conteneur">
          <h2>Trouvez les meilleurs produits sur NankiShopping</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Nesciunt hic repellendus ipsum esse nemo aliquid perferendis,
            facere inventore ipsam non?
          </p>
        </div>
      </div>
      <div class="card card10">
        <div class="img">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="conteneur">
          <h2>Trouvez les meilleurs produits sur NankiShopping</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Nesciunt hic repellendus ipsum esse nemo aliquid perferendis,
            facere inventore ipsam non?
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
