<div class="mt-40 w-full flex items-center justify-center gap-4">
  <form class="w-1/2 flex items-center justify-center flex-col gap-3" [formGroup]="articleForm" (ngSubmit)="onSubmit()">
    <input type="text" name="title" placeholder="title" class="border w-full h-12 text-center" formControlName="title">
    <textarea name="description" placeholder="Description" cols="20" rows="3" class="border w-full resize-none text-center pt-10" formControlName="description"></textarea>
    <input type="text" name="image" placeholder="https://www.freepikcard.jpg" class="border w-full h-12 text-center" formControlName="image">
    <input type="text" name="price" placeholder="price" class="border w-full h-12 text-center" formControlName="price">
    <input type="text" name="categories" placeholder="categories: Womens , Mens or Accessories" class="border w-full h-12 text-center" formControlName="categories">
    <button type="submit" class="border w-full h-12 text-center bg-green-500 text-white text-2xl rounded" (disabled)="articleForm.invalid">Create</button>
  </form>
  <div class="w-64 mt-40 px-3" *ngIf="articlesObser$ | async as article">
    <h1>{{article.title | titlecase}}</h1>
    <div class="image w-full">
      <img [src]="article.image" [alt]="article.title" class="w-full">
    </div>
    <div class="info">
      <p>{{article.description | titlecase}}</p>
      <p class="categories">{{article.categories | titlecase}}</p>
      <p class="price">{{article.price | currency : 'EUR'}}</p>
      <p> createAt :{{article.createAt | date :'dd-MMMM-YYYY HH-mm'|titlecase }}</p>
    </div>
  </div>
</div>
